body {
  margin: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.detail-container {
  max-width: 90%;
  max-height: 95%;
}

.detail-container img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 20px 60px rgba(0,0,0,0.8);
}
.close-btn {
  position: fixed;
  top: 20px;
  right: 20px;

  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;

  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 22px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}
