/* SOL SİDEBAR (Çizgili Kısım) */
.sidebar {
  width: 80px; /* Genişliği sabitledik */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: white;
  border-right: 1px solid #e0d9d9; /* Dikey çizgi */
  position: fixed;
  left: 0;
  top: 0;
}

/* İkon Boyutlarını Sabitleme (Saçma büyümeleri engeller) */
.sidebar .logo {
  width: 60px; 
  height: 60px;
  margin-bottom: 20px;
  object-fit: contain;
}

.home-btn {
    background: none;
  border: none;
  cursor: pointer;
}
 
.main-content {
  margin-left: 80px; /* Sidebar'ın genişliği kadar boşluk */
  flex: 1;
}

.top-bar {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  gap: 20px;
  color: rgb(73, 51, 51);
}

.content-divider {
    height: 1px;               /* Çizginin inceliği */
    background-color: #e0e0e0; /* Yan menüdeki çizginin rengiyle aynı yapabilirsin */
    width: 100%;               /* Boylu boyunca uzanması için */
}
