body {
    margin: 0;
    padding: 0;
    height: 100vh;          
    display: flex;
    justify-content: center; 
    align-items: center;     
    font-family: "Poppins", sans-serif;
    background-color: #dac2d1; 
    
}

.container {
    text-align: center;
}

.title {
    display: flex;
    align-items: center;  /* logo ve yazıyı dikey ortala */
    justify-content: center; /* yatayda ortala */
    gap: 15px;             /* logo ile yazı arası boşluk */
    font-size: 2.5rem;
}


.logo{
    width: 55px;
    height: 60px;
    border-radius: 60px;
}

.subtitle{
    font-size: 1.2rem;
    margin-top: 15px;
    color: black;

}

.btn-login{
    background-color:palevioletred;
    color: #f5f5f5;
    width: 152px;
    border-radius: 7px;
    font-size: 25px;
    border: 2px solid rgb(201, 69, 113);
    padding: 5px;
}

.btn-register{
    background-color:rgb(112, 169, 216);
    color: #f5f5f5;
    width: 152px;
    border-radius: 7px;
    font-size: 25px;
    border: 2px solid rgb(114, 112, 216);
    padding: 5px;
}

.btn-group{
    display: flex;             
    justify-content: center; 
    gap: 30px;                 
    margin-top: 20px;
}